.not-found {
  text-align: center;
  padding-bottom: 140px;
}

.not-found h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.not-found img {
  width: 60%;
}

/* 반응형 */
@media screen and (max-width: 380px) {
  .not-found h1 {
    font-size: 7vw;
  }

  .not-found p {
    font-size: 4.5vw;
  }
}
