main {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 30px 0 200px;
  flex: 1;
}

a {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.ad_link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  color: white;
  text-decoration: none;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 500%;
  animation: rainbowMove 5s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes rainbowMove {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.ad_img {
  margin: 0 !important;
}

.main_title {
  margin-top: 80px;
}

.container {
  width: 100%;
  text-align: center;
}

.container img {
  width: 100%;
  border-radius: 5px;
  margin: 40px 0;
}

.first-area {
  margin: 30px 0;
}

.first-area h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-area ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
}

.first-area ul li a {
  background-color: #8b00ff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0;
}

.first-area ul li {
  width: 90%;
  margin: 0 auto;
}

.first-area ul li a:hover {
  background-color: #a12eff;
}

.intro {
  margin: 50px 0;
}

.intro h2 {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro p {
  margin: 10px 0;
  line-height: 30px;
  letter-spacing: 0.5px;
  padding: 0 20px;
}

/* 반응형 */
@media screen and (max-width: 780px) {
  .first-area ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .first-area ul li {
    margin: 0 auto;
  }

  .first-area ul li a {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .first-area ul {
    grid-template-columns: 1fr 1fr;
  }

  .first-area ul li a {
    width: initial;
  }
}
