.human {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.human article {
  width: 100%;
}

.human h2 {
  margin: 50px 0;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.links a {
  padding-top: 20px;
  transition: all 0.1s;
  color: #333;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
}

.links a:hover {
  color: #2b74bb;
}
