.title-text {
  text-align: center;
  margin: 20px auto 40px;
  width: 90%;
}

.back-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.back-img-image {
  width: 150px;
  height: 240px;
  border-radius: 14px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s;
}

.back-img-image:hover {
  scale: 1.05;
}

.back-img-image2 {
  width: 150px;
  height: 240px;
  border-radius: 14px;
  margin: 0 0 20px;
}

.tarot-result {
  width: 80%;
}

.tarot-button {
  outline: none;
  border: none;
  background-color: transparent;
}

.back-img2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarot-result {
  text-align: center;
}

.tarot-result h3 {
  margin: 30px 0;
  line-height: 25px;
}

.tarot-result h2 {
  color: #2b74bb;
}

.tarot-result p {
  line-height: 25px;
}

.tarot-result button {
  border: none;
  margin: 30px 0 0;
  font-size: 17px;
  padding: 10px 15px;
  background-color: #2b74bb;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
}

.tarot-result button:hover {
  background-color: #2b74bb;
}

@media screen and (max-width: 820px) {
  .back-img-image {
    width: 95%;
    height: 95%;
  }
}

@media screen and (max-width: 640px) {
  .back-img {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .title-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 460px) {
  .back-img-image {
    width: 90%;
    height: 90%;
  }
  .back-img {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .title-text {
    font-size: 18px;
  }
}
