@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

html {
  height: 100%;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.common-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.common-li {
  background-color: #8b00ff;
  padding: 10px 5px;
  width: 80%;
  border-radius: 5px;
  margin: 30px auto 0;
  cursor: pointer;
  text-align: center;
}

.common-li a {
  color: #fff;
  display: inline-block;
  width: 100%;
  font-weight: 600;
}

.common-li:hover {
  background-color: #b04fff;
}

.common-h2 {
  padding-top: 20px;
  color: rgb(237, 157, 100) !important;
  cursor: pointer;
}

.common-h2:hover {
  color: #666 !important;
}

.common-p {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 50px;
  letter-spacing: 0.8px;
  line-height: 25px;
  padding: 0 20px;
}

.common-h2-detail {
  padding: 0 20px;
  color: rgb(237, 157, 100) !important;
  margin-top: 30px;
}

.common-h2-detail2 {
  padding: 0 20px;
  color: rgb(237, 157, 100) !important;
  margin-top: 100px;
}

.common-p-detail {
  text-align: left;
  max-width: 800px;
  margin: 15px auto 50px;
  letter-spacing: 0.8px;
  line-height: 28px;
  padding: 0 20px;
}
